body {
    margin: 0;
    font-family: 'goorm-sans-code', sans-serif;
}

.main-banner {
    padding: 50px;
    background-color: darkblue;
    color: white;
    text-align: center;
    margin-top: 30px;
}

.credit {
    padding: 30px;
    background-color: lightgray;
    text-align: center;
}

.carousel-inner {
    width: auto;
    height: auto;
}

@font-face {
    font-family: 'goorm-sans-code';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-code.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

.main-button {
    width: 13.5%;
    border: none;
    background-color: white;
    transition: background-color 0.3s;
}

.main-button:hover {
    background-color: #f0f0f0;
}

.selectbtn {
    background-color: white;
}

.center {
    text-align: center;
}

.top-corner {
    display: inline;
}

@media (max-width: 768px) {
    .main-button {
        width: 45%;
        margin: 5px 0; 
    }
}
.credit {
    padding: 20px;

}