body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-top: 30px;
}
.header {
    text-align: center;
    margin-bottom: 20px;
}
.header h1 {
    margin: 0;
}
.image-placeholder {
    width: 100%;
    height: 300px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #666;
}
.restaurant-info {
    margin-top: 20px;
    margin-left: 1%
}
.restaurant-info h2 {
    margin: 0;
}
.rating {
    color: gold;
}
.map {
    margin: 20px 0;
    border-radius: 15px;
}
.menu-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.menu-images .image-placeholder {
    height: 150px;
}
.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #666;
    padding: 20px;
}

iframe {
    border-radius: 15px;
    width: 100%;
    height: 600px;
}

@font-face {
    font-family: "goorm-sans-code";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-code.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Paperlogy-8ExtraBold";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
.pyeong {
    font-family: Paperlogy-8ExtraBold;
    margin-top: 30px;
    margin-left: 1%;
}
.Junseo {
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 1%;
    margin-top: 30px;
}
